* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.cover-img {
  width: 100%;
}

.menu-button {
  padding: 8px 15px;
  position: fixed;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  color: #ffbc3c !important;
  z-index: 90;
  border-radius: 10px;
}

.menu-button i {
  font-size: 28px;
}

.drop-button {
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  color: #ffbc3c !important;
  z-index: 90;
  border-radius: 10px;
}

.drop-button i {
  font-size: 28px;
}

.dropdown-toggle::after {
  display: none;
}

.offcanvas-start {
  width: 90%;
}

.smile {
  color: #ffbc3c;
  font-size: 28px;
  vertical-align: center;
  margin-top: 2px;
}

.review span {
  color: #343031;
  font-size: 20px;
  padding: 0px 10px 10px 10px;
  vertical-align: center;
}

.item a {
  text-decoration: none;
  color: #343031;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.owl-carousel {
  margin-top: 13px;
}

.category-menu {
  list-style: none;
  margin-right: 20px;
  margin-left: -25px;
}

.menu-list a {
  text-decoration: none;
  color: #343031;
  cursor: pointer;
  font-size: 19px;
}

.first-section {
  padding-top: 80px;
  margin-bottom: 60px;
}

.item-img {
  margin-top: 50px;
}

.text-muted {
  font-family: "Lobster Two", cursive;
  font-size: 17px;
}

.go-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #f8f9fa;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  color: white !important;
  font-size: 20px;
  z-index: 90;
  border-radius: 20px;
}

.go-top i {
  color: #ffbc3c;
}

.go-to-cart {
  position: fixed;
  left: 100px;
  transition: 0.3s;
  padding: 8px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  z-index: 50;
}

.go-to-cart a i {
  font-size: 33px;
  color: #ffbc3c;
  transform: translate(0%, 10%);
}

#menu {
  bottom: 5px;
  /*background-color: rgba(52, 48, 49, 0.8);*/
}

.side-word {
  color: #ffbc3c;
  padding: 0px 8px 0px 10px;
  font-size: 26px;
  transform: translate(50%, 50%);
}

.add-note {
  margin-top: 20px;
  border: 1px solid #343031;
  padding: 30px 20px 30px 20px;
  width: 90%;
  margin-left: 20px;
}

.request span {
  font-size: 18px;
  font-weight: 500;
}

.request i {
  padding: 10px;
  font-size: 27px;
}

.payment p {
  padding-left: 15px;
}

.payment p span {
  text-align: center;
  float: right;
  clear: both;
  padding-right: 40px;
}

.modal-footer button {
  background-color: #343031;
}

.plus-minus {
  border: 1px solid #343031;
  width: 80px;
  border-radius: 10px;
}

.number {
  padding: 0px 10px 0px 10px;
  font-size: 23px;
}

.plus,
.minus {
  font-size: 23px;
  font-weight: 500;
}

.pro-name {
  font-size: 23px;
  font-weight: 500;
}

@media screen and (max-width: 383px) {
  .plus-minus {
    width: 100px;
    height: 45px;
  }

  .pro-name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
  }
}

.special-addings label {
  font-size: 20px;
  font-weight: 500;
}

.special-addings i {
  padding: 10px;
  font-size: 27px;
}

/*.addings-text {
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  width: 90%;
}*/
.product-sum {
  margin-left: 10px;
  font-family: "Exo", sans-serif;
  font-size: 15px;
}

.basket-button {
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}

.footer-button {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}

.sizes input {
  margin-top: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  cursor: pointer;
}

.sizes input:checked {
  border: 6px solid #343031;
}

.sizes h2 {
  margin-left: 15px;
}

.sizes label {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.sizes span {
  margin-top: 3px;
  font-weight: 700;
  font-family: "Exo", sans-serif;
}

.special-addings-2 label {
  font-size: 20px;
  font-weight: 500;
}

.special-addings-2 i {
  padding: 10px;
  font-size: 26px;
}

/*.addings-text-2 {
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(118, 118, 118);
  width: 90%;
}*/

.modal-card {
  border: none;
}