/*
First color: ffbc3c;
Second color: 343031;
coder: Hagar
*/
/*Login Page*/

body {

    font-family: Ample-M;

}

/*Start Sign in Section*/
.sign-in {
    height: 100%;
    background-image: url('../img/yellow-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-in .image {
    padding-top: 10px;
    padding-left: 10px;
}

.sign-in .card {
    margin: auto;
    border: none;
    padding: 20px;
    background-color: rgb(52, 48, 49, 0.1) !important;
}

.sign-in .card h2 {
    color: #ffbc3c;
    padding: 10px 0;
}

.sign-in input {
    border-radius: 20px;
    background-color: rgb(52, 48, 49, 0.3);
    margin-bottom: 20px;
    color: #fff;
}

.sign-in input :placeholder-shown {
    color: #fff;
}

.sign-in input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    border: none;
}

.sign-in .remember {
    font-size: 15px;
}

.sign-in .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.sign-in .login_btn {
    color: #fff;
    background-color: #343031;
    width: 100px;
}

.sign-in .login_btn:hover {
    color: #fff;
    background-color: #ffbc3c;
}

/*End log in section*/

/*Start Dashbaord*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: Ample-M;
}

.navbar img {
    margin: 0;
    height: 50px;
    object-fit: cover;
}

.navbar .btn-info {
    background-color: #343031;
    border-color: #343031
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar .dropdown .dropdown-toggle {
    color: #fff;
    background-color: inherit;
}

.navbar .dropdown-menu {
    background-color: #f3f1ed;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ffbc3c;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffbc3c;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffbc3c;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #343031;
    font-weight: bold;
    background: #fff;
}

a[aria-expanded="true"] {
    color: #fff;
    font-weight: bold;
    background: #ffbc3c;
}

#sidebar ul li.active>a {
    color: #343031;
    font-weight: bold;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffbc3c;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #ffbc3c;
}

a.article,
a.article:hover {
    background: #ffbc3c !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/*End Dashbourd*/

/*Start All sections*/

.ad-btn {
    color: #FFF;
    background-color: #343031;
    border: none;
}

.ad-btn:hover {
    background-color: #ffbc3c;
    color: #fff;
}

.dash-table .has-search .form-control {
    padding-left: 2.375rem;
    border: #343031 2px solid;
    border-radius: 10px;
    margin: 0;
    width: 120px;
    height: 40px;
    transition: ease-in-out all 0.5s;
}

.dash-table .has-search .form-control:hover {
    width: 200px;
    border-color: #ffbc3c;
}

.dash-table .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #343031;
}

/*End All sections*/
/*start Table*/

.dash-table {
    background-color: #FFF;
    position: relative;
}

.dash-table .title {
    color: #ffbc3c;
    font-family: Ample-M;
    font-size: 45px;
    font-weight: bold;
}

.dash-table .table thead tr {
    background-color: #343031;
    color: #FFF;
    font-size: 20px;
    text-align: center;

}

.dash-table .table tbody tr {
    border: #343031 solid;
    border-width: 2px 0;
}

.dash-table .table tbody tr th {
    color: #ffbc3c;
    font-size: 30px;
    font-family: Ample-M;
}

.dash-table .table tbody tr td {
    color: #343031;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.dash-table .table tbody tr td a:hover {
    color: #ffbc3c;
}

.dash-table .table-no {
    font-size: 20px;
    padding-bottom: 20px;
}

/*End Tables*/

/*Start add new */
.info {
    padding-left: 20px;
}

.info label {
    display: block;
    color: #ffbc3c;
    font-size: 19px;
    font-weight: bold;
}

.info .form-cell {
    background-color: rgb(230, 233, 235);
    height: 40px;
    border: none;
    width: 80%;
    color: #343031;
}

input {
    color: #343031;
    border: none
}

input:focus {
    border: none
}

/*End Add New*/


/*Start  Admins*/
.admins .prof-img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.admins .prof-img img {
    width: 100%;
    object-fit: cover;
}

.admins span a:hover {
    color: #ffbc3c;
}

.admins hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #343031;
    border-bottom: 1px solid #343031;
}

/*End Admis*/

/*My Fonts*/

@font-face {
    font-family: Ample-M;
    src: url('../font/Ample Soft Pro Medium.otf');
}

@font-face {
    font-family: Ample-Pro;
    src: url('../font/Ample Soft Pro.otf');
}

@font-face {
    font-family: din-next;
    src: url('../font/din-next-lt-w23-regular\ \(2\).ttf');
}